<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style_login.css">
    <script src="/static/js/update.js"></script>
</head>
<body>
    <a href="/"><img src="https://image.winudf.com/v2/image/Y29tLnNvdW5kYm9hcmQuYmFza2V0YmFsbGFwcF9pY29uXzE1MjMwMDY0MzBfMDUx/icon.png?w=100&fakeurl=1"></a>
    <div id="update">
        <form name="change" action="/change" method="post" class="form-contact">
            <div class="inputs">
                <a>Смена пароля</a>
                <p><input type="password" placeholder="Новый пароль"  name="password" class="input js-input-psw" value="" required</p>
                <p><input type="submit" onclick="updatePassword()" class="validateBtn" value="Изменить пароль" /></p>
            </div>
        </form>
    </div>
</script>
</form>
</body>
</html>